/*
    deBakatas variables
*/
:root {
    --black: #151515;
    --blue: #2269ff;
    --distance: 50vw;
    --duration: 2s;
    --effect: skew(-15deg);
    --font-serif: Georgia, 'Times New Roman', Times, serif;
    --gradient: var(--purple), 50%, var(--blue);
    --green: #34c4fc;
    --left: 40vw;
    --purple: #bf26ff;
    --top: -10vh;
    --white: #ccc;
}

/* Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background: var(--black);
    color: white;
    height: 100vh;
    overflow: hidden;
    padding-inline: 4rem;
    width: 100vw;
}

body > header {
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding: 3rem;
    width: 100%;

    figure {
        display: flex;
        align-items: center;

        img {
            height: 5rem;
        }
        &.logo {
            figcaption {
                -webkit-text-fill-color: transparent;
                background-clip: text;
                background-image: linear-gradient(to top, var(--gradient));
                color: var(--purple);
                font-size: 1.4rem;
                margin-left: 0.2rem;
            }
        }

        &.user {
            img {
                border-radius: 0.5rem;
                overflow: hidden;
            }

            figcaption {
                color: var(--white);
                margin-right: 1rem;
                text-align: right;

                h2 {
                    font-weight: normal;
                    transform: var(--effect);
                }

                .user-desc {
                    text-align: left;
                    display: block;
                }
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

form {
    display: flex;
    align-items: center;

    button {
        background-image: linear-gradient(
            to top left,
            var(--gradient)
        ) !important;
        border-radius: 2rem;
        border: 1px solid var(--black);
        color: var(--white);
        font-size: 1rem;
        height: 100%;
        padding: 1rem 2rem;

        &:hover,
        &:focus {
            background-image: linear-gradient(
                315deg,
                var(--gradient)
            ) !important;
            border-color: var(--purple);
        }
    }

    input {
        border-bottom: 1px solid var(--white);
        font-size: 1rem;
        padding: 1rem 2rem;

        &:focus {
            border-bottom-color: var(--purple);
        }
    }
}

.searched-user {
    align-items: center;
    display: none;
    justify-content: center;
    margin-right: 0;

    img {
        height: 4rem;
    }

    figcaption {
        text-align: right;
    }

    div {
        margin-left: 1rem;
        overflow: hidden;
        position: relative;

        button {
            background-color: #15151588;
            font-size: 1rem;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transform: rotate(0deg) scale(1);
            width: 100%;

            &:hover {
                opacity: 1;
                transform: rotate(90deg);
            }
        }
    }
}

.mojo {
    animation: rotate var(--duration) infinite;
    background: var(--green);
    display: block;
    height: 1rem;
    left: var(--left);
    position: absolute;
    top: var(--top);
    transition: all var(--duration) ease-in-out;
    width: 1rem;
    will-change: top, left;
    z-index: 100;

    &:nth-of-type(3n - 1) {
        background: var(--purple);
    }
}

main {
    > ul {
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
    }
}

article {
    background-image: linear-gradient(to top left, var(--gradient));
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-top: 0;
    position: relative;

    i {
        position: absolute;
        right: 1rem;
        top: -0.5rem;
        transform: translateY(-100%);
    }

    h3 {
        background: var(--black);
        display: flex;
        display: inline-block;
        justify-content: space-between;
        padding: 0.5rem;
        transform: translateY(-50%);

        &:hover {
            transform: translateY(-50%) var(--effect);
        }

        a {
            text-decoration: underline;
        }
    }

    p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    ul {
        display: flex;

        li {
            background: var(--black);
            border-radius: 1rem;
            color: white;
            font-size: 0.8rem;
            margin-right: 0.25rem;
            padding: 0.5rem 1rem;

            &:last-of-type {
                margin-right: 0;
            }

            &.css {
                background-color: #1c85e1;
            }

            &.html {
                background-color: #d95c2c;
            }

            &.javascript {
                background-color: #d7aa22;
            }

            &.java {
                display: none;
            }
        }
    }

    i {
        font-style: normal;

        span {
            display: inline-block;
            animation: rotate var(--duration) infinite;
        }
    }
}
