/*
    deBakatas variables
*/
:root {
    --dk-pink: #e30451;
    --dk-black: #444;
    --dk-green: #34fcd8;
    --dk-blue: #7dc1fe;
    --dk-effect: skew(-15deg) rotate(-3deg);
    --font-serif: Georgia, 'Times New Roman', Times, serif;
}
